@import "var";
@import "mixin";
@import "btn";
body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
}
header{
  position: relative;
  padding-top: 40px;
}
#background__top{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.background{
  &__top{
    &__left{
      width: 382px;
      height: 842px;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/tree-top-left.png")no-repeat;
      background-size: contain;
    }
    &__right{
      width: 532px;
      height: 1208px;
      position: absolute;
      top: 0;
      right: 0;
      background: url("../img/tree-top-right.png")no-repeat;
      background-size: contain;
    }
  }
}
a,a:hover,a:visited,a:focus{
  text-decoration: none;
  color: inherit;
  outline: none!important;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
span{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
li{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.default-text{
  p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
  }
  li{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
  }
  h2{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
  }
  h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
  }
  h4{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
  }
}
.header{
  &__top{
    .row{
      justify-content: space-between;
      align-items: center;
      height: 40px;
    }
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #000000;
    nav{
      a{
        display: inline-block;
      }
    }
    ul{
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      li{
        color: #ffffff;
        display: inline-block;
        margin-right: 30px;
        position: relative;
        &:hover{
          a{
            color: $color-yellow;
          }
        }
        &:before{
          content: "";
          position: absolute;
          right: -16px;
          top: 4px;
          width: 1px;
          height: 14px;
          background-color: #ffffff;
        }
        &:last-of-type:before{
          display: none;
        }
      }
    }
    &__user{
      display: inline-block;
      height: 24px;
      &:hover{
        span{
          color: $color-yellow;
          border-bottom: dashed $color-yellow 1px;
        }
      }
      span{
        margin-left: 10px;
        display: inline-block;
        color: #ffffff;
        vertical-align: top;
        border-bottom: dashed #ffffff 1px;
      }
    }
  }
  &__nav-bar{
    margin-top: 30px;
    &__body{
      background-color: #000000;
      height: 80px;
      align-items: center;
      justify-content: space-between;
      position: relative;
      left: 15px;
      &__nav-bar{
        ul{
          list-style-type: none;
          padding-left: 0;
          margin: 0;
          display: flex;
          justify-content: space-around;
          align-items: center;
          li{
            &:hover{
              p,i{
                color: $color-yellow;
              }
            }
            i{
              font-size: 20px;
            }
            &.active{
              i,p{
                color: $color-yellow;
              }
            }
            display: inline-block;
            color: #ffffff;
            p{
              color: #ffffff;
              text-transform: uppercase;
              margin: 0;
            }
          }
        }
      }
      &__call-back{
        a{
          float: right;
        }
      }
    }
    &__ticker{
      position: relative;
      left: 15px;
      flex-wrap: nowrap;
      padding: 0;
      height: 35px;
      background-color: #FCF5D6;
      overflow: hidden;
      p{
        height: 100%;
        display: inline-block;
        white-space: nowrap;
        line-height: 35px;
        margin:0 20px;
        position: relative;
      }
    }
  }
}
#slider{
  margin-top: 30px;
}
.slider{
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
  &__watch-area{
    position: relative;
    height: 300px;
    background-color: #000000;
    &__control{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .btn__control{
        &:first-of-type{
          left: 0;
        }
        &:last-of-type{
          right: 0;
        }
      }
    }
    &__content{
      width: 100%;
      height: 100%;
      position: relative;
      img{
        position: absolute;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__control{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    &__circle{
      width: 16px;
      height: 16px;
      background-color: #1A2127;
      opacity: 0.3;
      padding: 0;
      margin: 0;
      border: solid 3px #ffffff;
      border-radius: 50%;
      &:hover{
        border: solid 3px #1A2127;
      }
      &.active{
        border: solid 3px #1A2127;
        opacity: 1;
        background-color: transparent;
      }
    }
  }
}
#tattoo{
  padding-top: 50px;
}
.tattoo{
  &__header{
    &__tabs{
      margin-right: 20px;
      display: inline-block;
      &.active{
        font-weight: 500;
        border-bottom: solid 3px $color-yellow;
      }
    }
    &__all{
      display: none;
      float: right;
      i{
        font-size: 17px;
        font-weight: 600;
        margin-left: 8px;
      }
      &.active{
        display: inline-block;
      }
    }
    a{
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      text-transform: uppercase;
      line-height: 34px;
      &:hover{
        font-weight: 500;
      }
    }
  }
  &__body{
    margin-top: 30px;
    &__news,&__top{
      display: none;
      &.active{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
    &__card{
      margin: 0 30px 30px 0;
      height: 312px;
      width: calc((100% - 60px) / 3);
      background-color: grey;
      position: relative;
      cursor: pointer;
      &:nth-child(3n){
        margin: 0 0 30px 0;
      }
      &__sticker{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        &__new{
          display: none;
          position: absolute;
          top: 6px;
          z-index: auto;
          left: -7px;
          height: 20px;
          width: 45px;
          line-height: 18px;
          padding-left: 12px;
          font-size: 14px;
          font-style: italic;
          background-color: #B6002D;
          color: #ffffff;
          &.active{
            display: block;
          }
          &:before{
            content: "";
            position: absolute;
            top: 3px;
            left: 0;
            width: 7px;
            height: 100%;
            background-color: #56001E;
            z-index: -1;
            transform: skewY(40deg);
          }
          &:after{
            content: "";
            position: absolute;
            top: 3px;
            right: -7px;
            z-index: -1;
            width: 14px;
            height: 14px;
            background-color: #B6002D;
            transform: rotate(45deg);
          }
        }
        &__like{
          position: absolute;
          cursor: pointer;
          right: 0;
          top: 0;
          width: 30px;
          height: 30px;
          background-color: #A9AABB;
          &.active{
            background-color: $color-yellow;
            i{
              color: #000000;
            }
          }
          &:hover{
            i{
              color: #B6002D;
            }
          }
          i{
            color: #ffffff;
            font-size: 17px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
          }
        }
        &__loupe{
          display: none;
          position: absolute;
          cursor: pointer;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.6);
          i{
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            position: absolute;
            font-size: 16px;
            color: $color-yellow;
          }
        }
      }
      &__foto{
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
        img{
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
        }
      }
      &__info{
        position: absolute;
        width: 100%;
        height: 60px;
        bottom: 0;
        z-index: 2;
        left: 0;
        background-color: #22262B;
        transition: all linear 0.2s;
        &:before{
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          top: -10px;
          left: 22px;
          transform: rotate(45deg);
          background-color: #22262B;
        }
        &__wrapp{
          overflow: hidden;
          width: 100%;
          height: 100%;
          padding: 12px 20px;
          h3{
            transition: all linear 0.2s;
            font-family: 'Roboto',sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #FECC02;
            margin-bottom: 30px;
            margin-top: 10px;
          }
          a{
            display: block;
            font-family: 'Roboto',sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #ffffff;
            margin-bottom: 5px;
          }
          span{
            font-family: 'Roboto',sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: #BABABA;
            display: inline-block;
            i{
              color: #ffffff;
              font-size: 16px;
              margin-right: 10px;
            }
          }
        }
      }
      &:hover{
        .tattoo__body__card__sticker__loupe{
          display: block;
        }
        .tattoo__body__card__info{
          height: 100px;
          h3{
            margin-bottom: 10px;
            margin-top: 0;
          }
        }
      }
    }
  }
}
#salon{
  padding-top: 30px;
}
.salon{
  &__header{
    &__tabs{
      margin-right: 20px;
      display: inline-block;
      &.active{
        font-weight: 500;
        border-bottom: solid 3px $color-yellow;
      }
    }
    &__all{
      display: none;
      float: right;
      i{
        font-size: 17px;
        font-weight: 600;
        margin-left: 8px;
      }
      &.active{
        display: inline-block;
      }
    }
    a{
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      text-transform: uppercase;
      line-height: 34px;
      &:hover{
        font-weight: 500;
      }
    }
  }
  &__body{
    margin-top: 30px;
    &__news,&__top{
      display: none;
      &.active{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
    &__card{
      margin: 0 30px 30px 0;
      height: 372px;
      width: calc((100% - 60px) / 3);
      background-color: #ffffff;
      position: relative;
      cursor: pointer;
      &:nth-child(3n){
        margin: 0 0 30px 0;
      }
      &__sticker{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        &__new{
          display: none;
          position: absolute;
          top: 11px;
          z-index: auto;
          left: -7px;
          height: 20px;
          width: 45px;
          line-height: 18px;
          padding-left: 12px;
          font-size: 14px;
          font-style: italic;
          background-color: #B6002D;
          color: #ffffff;
          &.active{
            display: block;
          }
          &:before{
            content: "";
            position: absolute;
            top: 3px;
            left: 0;
            width: 7px;
            height: 100%;
            background-color: #56001E;
            z-index: -1;
            transform: skewY(40deg);
          }
          &:after{
            content: "";
            position: absolute;
            top: 3px;
            right: -7px;
            z-index: -1;
            width: 14px;
            height: 14px;
            background-color: #B6002D;
            transform: rotate(45deg);
          }
        }
        &__favorit{
          position: absolute;
          cursor: pointer;
          right: 0;
          top: 195px;
          width: 30px;
          height: 30px;
          background-color: #A9AABB;
          &.active{
            background-color: $color-yellow;
            i{
              color: #000000;
            }
          }
          &:hover{
            i{
              color: #B6002D;
            }
          }
          i{
            color: #ffffff;
            font-size: 17px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
          }
        }
      }
      &__foto{
        overflow: hidden;
        width: 100%;
        height: 195px;
        position: relative;
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: calc(100% - 40px);
        }
      }
      &__info{
        width: 100%;
        height: 177px;
        bottom: 0;
        z-index: 2;
        left: 0;
        background-color: #ffffff;
        &__wrapp{
          overflow: hidden;
          width: 100%;
          height: 100%;
          padding: 12px 20px;
          h3{
            font-family: 'Roboto',sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #1B2127;
            margin-top: 10px;
            margin-bottom: 20px;
          }
          p{
            display: block;
            font-family: 'Roboto',sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: #9B9B9B;
            margin-bottom: 5px;
            position: relative;
            padding-left: 30px;
            u{
              text-decoration: none;
              font-size: 16px;
              color: #1B2127;
              font-weight: 500;
            }
            i{
              position: absolute;
              font-size: 17px;
              top: 0;
              left: 0;
              color: #1B2127;
            }
          }
          span{
            font-family: 'Roboto',sans-serif;
            font-weight: 500;
            font-size: 13px;
            color: #1B2127;
            display: block;
            position: relative;
            padding-left: 30px;
            i{
              color: #1B2127;
              font-size: 18px;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
      &:hover{
        .salon__body__card__foto{
          background-color: #FFB3B3;
        }
      }
    }
  }
}
#about{
  margin-top: 20px;
  h3{
    font-weight: 500;
    margin-bottom: 20px;
  }
  h4{
    margin-bottom: 15px;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    li{
      margin-bottom: 15px;
      position: relative;
      padding-left: 23px;
      &:before{
        content: "\f00c";
        position: absolute;
        left: 0;
        top: 0;
        color: #000000;
        font-family: FontAwesome;
      }
    }
  }
}
footer{
  position: relative;
}
.footer{
  background-color: #000000;
  padding: 40px 0;
  &-block{
    background-color: #1B2127;
    padding: 45px 0;
  }
}
@import "media";